Quse-No.1
What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
A database is usually controlled by a database management system (DBMS).

MySQL is a relational database management system that uses SQL.
Whereas SQL is primarily used to query and operate database systems, MySQL enables you to store,
handle, delete, and modify data in an organized way.
As for NoSQL, it is a non-relational database that does not use SQL

In [ ]:
Ques-No.2
What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL is Data Definition Language which is used to define data structures.
For example: create table, alter table are instructions in SQL.
DML: DML is Data Manipulation Language which is used to manipulate data itself.
For example: insert, update, delete are instructions in SQL.

In [ ]:
Alter: -
The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

In [ ]:
Create:-
The CREATE TABLE statement is used to create a new table in a database

In [ ]:
Drop:-
Image result for drop in sql with example
A DROP statement in SQL removes a component from a relational database management system (RDBMS). Syntax: DROP object object_name

In [ ]:
Ques-No.3
What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML is Data Manipulation Language which is used to manipulate data itself.
For example: insert, update, delete are instructions in SQL.
It stands for Data Definition Language. It stands for Data Manipulation Language

In [ ]:
The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

In [ ]:
Ques-No.4
What is DQL? Explain SELECT with an example.

In [ ]:
The full form of DQL is Data Query Language.
DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.
The SQL sub languages have four major categories, DQL, DDL, DCL, and DML.

In [ ]:
The SELECT statement is used to select data from a database.
The data returned is stored in a result table, called the result-set.

In [ ]:
Ques-No.5
Explain Primary Key and Foreign Key.

In [ ]:
A primary key is used to ensure data in the specific column is unique.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
Ques-No.6
Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
Ques-No.7
Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM clause.
ON clause.
OUTER clause.
WHERE clause.
GROUP BY clause.
HAVING clause.
SELECT clause.
DISTINCT clause.